.cleanup_btn {
  border: none;
  background-color: hsla(0, 0%, 50%, 0.5);
  font-size: 16px;
  border-radius: 4px;
  padding: 10px 20px;
  color: hsl(0, 0%, 90%);
  cursor: pointer;
  transition: background-color 300ms ease;
}

.cleanup_btn:hover {
  background-color: hsla(0, 0%, 50%, 0.8);
}

.cleanup_btn:active {
  background-color: hsla(0, 0%, 50%, 0.2);
}

.cleanup_overlay {
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: center;
  align-items: center;
  background-color: hsla(0, 0%, 0%, 0.9);
}

.cleanup_item {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cleanup_item__image {
  height: 400px;
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-color: hsl(0, 0%, 60%);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cleanup_item__arrows {
  display: flex;
  width: 100%;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0 10px;
}

.cleanup_item__arrow {
  color: #fff;
  font-size: 40px;
  transform: scale(0.4, 2);
  position: relative;
  cursor: pointer;
}

.cleanup_item__arrow.left {
  right: 50px;
}

.cleanup_item__arrow.right {
  left: 50px;
}

.cleanup_item__info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 20px 0;
  align-items: center;
}

.cleanup_item__title {
  color: #fff;
  font-size: 18px;
  margin: 0;
}

.cleanup_item__actions {
  display: flex;
}

.cleanup_item__action {
  width: 40px;
  height: 40px;
  margin: 0 5px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  border-radius: 4px;
  font-size: 18px;
  background-color: hsl(0, 0%, 20%);
  color: #fff;
  transition: all 300ms ease;
  cursor: pointer;
}

.cleanup_item__action:hover {
  background-color: hsl(0, 0%, 100%);
  color: #000;
}

.cleanup_item__action:active {
  background-color: hsl(0, 0%, 80%);
}

.cleanup_item__action.active {
  background-color: hsl(0, 0%, 100%);
  color: #000;
}

.cleanup_item__action:first-of-type {
  margin-left: 0;
}

.cleanup_item__action:last-of-type {
  margin-right: 0;
}

.cleanup_catcher {
  height: 1px;
  width: 1px;
  overflow: hidden;
  opacity: 0;
}

.cleanup_prefetch {
  width: 1px;
  height: 1px;
  overflow: hidden;
  opacity: 0;
}

.cleanup_close {
  position: absolute;
  left: 15px;
  top: 0;
  font-size: 40px;
  transform: scaleX(1.2);
  font-weight: 100;
  color: hsla(0, 0%, 100%, 0.3);
  cursor: pointer;
  transition: color 300ms ease;
}

.cleanup_close:hover {
  color: hsla(0, 0%, 100%, 1);
}

.cleanup_item__help {
  width: 80%;
  box-sizing: border-box;
  padding: 20px;
  line-height: 20px;
  margin-top: 20px;
  background-color: hsl(0, 0%, 10%);
  color: hsl(0, 0%, 40%);
  font-size: 14px;
  border-radius: 4px;
}
