#rgtk_random {
  position: absolute;
  right: 65px;
  top: 0;
  z-index: 1;
  cursor: pointer;
  font-size: 30px;
  line-height: 55px;
  color: hsl(0, 0%, 80%);
  display: flex;
}

#rgtk_random:hover .rgtk_random_text {
  text-decoration: underline;
}

#rgtk_randomInDb {
  margin-left: 20px;
  text-transform: uppercase;
  font-size: 10px;
  line-height: 18px;
  padding: 0 5px;
  border-radius: 4px;
  transition: background-color 300ms ease;
  background-color: transparent;
  cursor: pointer;
}

#rgtk_randomInDb:hover {
  background-color: hsl(0, 0%, 30%);
}
